name: "Prod: Apply Supabase Migration"

on:
  push:
    branches:
      - main
    paths:
      - "supabase/migrations/**"
  workflow_dispatch:

jobs:
  migrate:
    timeout-minutes: 1
    runs-on: ubuntu-latest
    environment: production
    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
      SUPABASE_PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
      SUPABASE_AUTH_GOOGLE_SECRET: dummy-value
      SUPABASE_AUTH_AZURE_SECRET: dummy-value

    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Apply migrations
        run: supabase link --project-ref $SUPABASE_PROJECT_ID && supabase migration up --linked
